.aside {
    background: #000;
    padding: 50px 35px 35px 35px;
    flex-basis: 100%;
    display: none;
    text-align: center;
    a {
        text-decoration: none;
        font-weight: bold;
        font-family: 'proxima_novabold', sans-serif;
        letter-spacing: 4px;
    }
}

.aside-nav {
    clear: both;
    display: block;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: #999;
    transition: all 0.2s ease;
    &.active, &:hover {
        color: #fff;
    }
    &:first-child {
        margin-top: 40px;
    }
}
.aside-subnav {
    margin-bottom: 40px;
    .aside-nav-item {
        display: block;
        font-size: 12px;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #999;
        transition: all 0.2s ease;
        &.active, &:hover {
            color: #fff;
        }
    }
}
.aside-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        display: inline-block;
        margin: 0 20px;
    }
    a {
        color: #fff;
        transition: all 0.2s ease;
        .icon {
            width: 21px;
            height: 21px;
        }
    }
}