@font-face {
    font-family: 'proxima_novabold';
    src: url('font/proximanova-bold-webfont.woff2') format('woff2'),
         url('font/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('font/proximanova-regular-webfont.woff2') format('woff2'),
         url('font/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold';
    src: url('font/proximanova-semibold-webfont.woff2') format('woff2'),
         url('font/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}