
//***Media queries***//
@media screen and (min-width: 768px) {
	.aside {
		display: block;
		padding-top: 40px;
		flex-basis: 18%;
		text-align: left;
	}
	.mobile-nav, .logo {
		display: none;
	}
	.aside-social-links {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	    li {
	        margin: 0 0 20px 0;
	    }
	}
	.gallery {
		flex-basis: 82%;
	}
	.gallery-item {
		flex-basis: 50%;
		&:nth-child(3n+1) {
			flex-basis: 100%;
		}	
	}
}

@media screen and (min-width: 1024px) {
	.gallery-item {	
		&:nth-child(4n+1) {
			flex-basis: 65%;
		}
		&:nth-child(4n+4) {
			flex-basis: 65%;
		}
		&:nth-child(4n+3) {
			flex-basis: 35%;
		}
		&:nth-child(4n+2) {
			flex-basis: 35%;
		}
	}
}
@media screen and (min-width: 1366px) {
	.wrapper {
		margin: 0 auto;
		width: 1366px;
	}
}