.aside {
    background: #000;
    padding: 35px;
    a {
        text-decoration: none;
    }
}
.aside-logo {
    display: block;
    color: #fff;
    margin-bottom: 50px;
}
.aside-nav-item {
    display: block;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
    transition: all 0.2s ease;
    &.active, &:hover {
        color: #fff;
    }
}
.aside-subnav {
    margin-bottom: 40px;
    .aside-nav-item {
        font-size: 10px;
        margin-bottom: 15px;
    }
}
.aside-social-links {
    display: flex;
    align-items: center;
    li {
        margin-right: 20px;
    }
    a {
        color: #fff;
        transition: all 0.2s ease;
    }
}