/*
Theme Name: Pfeiler
Theme URI:
Author: Evgeniy Gres
Author URI: evgeniygres@gmail.com
Description: project
Version: 1.0
License: 
License URI: LICENSE
Text Domain: 
Tags:
*/

@import "reset";
@import "aside";

.wrapper {
	position: relative;
	display: flex;
	font-family: 'proxima_novabold', sans-serif;
}
.mobile-nav {
    width: 33px;
    height: 21px;
    position: absolute;
    top: 12px;
    left: 12px;
    float: left;
    cursor: pointer;
    z-index: 999;
    &:before, &:after {
            content:"";
            position: absolute;
            background-color: #fff;
            left: 0;
            height: 2px;
            width: 100%;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
    span {
        position: absolute;
        top: 10px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
    }
}
.show-menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	transition: all .3s ease;
}
.close-button {
	z-index: 9999;
	&:before {
        transform: rotate(-45deg);
        top: 50%;
        }
    &:after {
        transform: rotate(45deg);
        top: 50%;
    }
    span {
    	height: 0;
    }
}
.logo {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 35px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: -10px;
    z-index: 999;
    .icon {
        width: 87px;
        height: 37px;
    }
}
.aside-logo {
    color: #fff;
    z-index: 999;
    .icon {
        width: 87px;
        height: 37px;
    }
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	justify-content: center;
	background-color: #000;
}

.gallery-item {
	flex-basis: 100%;
	position: relative;
	&:nth-child(1) {
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			border: 36px solid transparent;
			border-right: 36px solid #fff;
			border-bottom: 36px solid #fff;
		}
		&:after {
			content: "sale";
			font-family: 'proxima_nova_rgbold';
			text-transform: uppercase;
			position: absolute;
			transform: rotate(-45deg);
			bottom: 18px;
			right: 0;
			font-size: 12px;
			letter-spacing: 4px;
			font-weight: bold;
			color: #000;
		}
	}
}
.gallery__img {
	object-fit: cover;
}
.gallery__description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 258px;
}
.gallery__description-title {
	position: relative;
	color: #fff;
	font-size: 25px;
	line-height: 34px;
	padding: 0 0 14px 0;
	margin: 0 0 20px 0;
	&:before {
		content: "";
		width: 26px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.gallery__description-autor {
	text-transform: uppercase;
	font-size: 11px;
	color: #fff;
	letter-spacing: 2.4px;
	opacity: 0.78;
}

@import "media";